# Data Science Tools and Ecosystem

## Author
Kiefen Link

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List tools that are used for Data Science

Some of the popular languages that Data Scientists use are: 
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. ggplot2
3. caret
4. dplyr

| Data Science Tools |
| ------------------ |
| MySQL |
| Jupyter Notebook |
| R Studio |
| GitHub |

### Below are a few examples of evaluating arithmaetic expression examples

In [2]:
# This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/6

3.3333333333333335